params {
    config_profile_name        = 'metagenlab'
    config_profile_description = 'CHUV/IMUL obelix cluster profile -- provided by nf-core/configs'
    config_profile_contact     = 'Farid chaabane (github: @farchaab; email: farid.chaabane@chuv.ch)'

    max_memory                 = 1.TB
    max_cpus                   = 60
    max_time                   = 120.h

}

executor {
    name = 'slurm'
    perCpuMemAllocation = true
}


apptainer {
    enabled    = true
    autoMounts = true
}


// On a successful completion of a Nextflow run, automatically delete all intermediate files stored in the work/ directory
cleanup = true

process {
    resourceLimits = [
        memory: 1.TB,
        cpus: 60,
        time: 120.h
    ]
    maxRetries = 3
    withLabel:process_single {
        queue  = "short"
    }
    withLabel:process_low {
        queue  = "short"
    }
    withLabel:process_medium {
        queue  = "short"
    }
    withLabel:process_high {
        time   = { 12.h  * task.attempt }
        queue  = { task.time > 12.h ? 'long' : 'short' }
    }
    withLabel:process_long {
        queue  = "long"
    }
}
